body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: blanchedalmond;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif; 

}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
main{
    margin: 0 auto;
    width: 80%;
    
}
h1{
    color: #f4f1de;
    background-color: #3d405b;
    text-shadow: 4px 4px 7px rgb(71, 66, 92);
    letter-spacing: 10px;
    font-family: 'Palanquin', sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 60px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-left: 20px;
    margin: 0pt;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;  
}

img{
    margin-top: 40px;
    margin-left: 20px; 
    display: inline-block;
    border-radius: 12px;

}

main p{
    padding-left: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif; 
    line-height: 30px;
}



footer{
    background-color: #3d405b;
    margin-bottom: 0px;
    margin: 0 auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
footer p{
    padding-left: 20px;
    color: #f4f1de;
    font-size: 85%;
}

.footer-menu{
   float: right;
   height: 60px;
   position: relative;
 }
 
 .footer-menu ul{
   display: flex;
 }
 
 .footer-menu ul li{
 padding-right: 10px;
 display: inline-block;
 }
 
 .footer-menu ul li a{
   color:#f4f1de;
   text-decoration: none;
 }
 
 .footer-menu ul li a:hover{
   color: #2892cf;
 }

.footer-bottom{
    background: #27293B;
    padding-bottom: 70px;
    margin-left: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.footer-bottom p{
    float: left;
    font-size: 13px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #f4f1de;

 }

 .footer-bottom a{
     text-transform: uppercase;
     opacity: .6;
     font-weight: 400;
     color: #2892cf;
    text-decoration: none;

 }