body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 75vh;
}

button{
    background: none;
    background-color: black;
    border-color: #6411ad;
    border: 2px solid;
    color: #6411ad;
    text-transform: uppercase;
    padding: 20px;
    /* border-radius: 30%; */

}
button:hover{
    border-color: #ea698b;
    color: #ea698b;
    box-shadow: 0 0.7em 0.5em -0.4em #ea698b ;
    transform: translatey(-0.3em); 
    transition: ease 0.25s;
}

footer{
    background-color: #3d405b;
    margin-bottom: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
}
/* footer p{
    padding-left: 20px;
    color: #f4f1de;
} */

.footer-bottom{
    background: #27293B;
    padding-left: 20px;
    padding-bottom: 80px;
    margin-left: 0px;
    position: absolute;
    width: 100%;
}

.footer-bottom p{
    float: left;
    font-size: 13px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #f4f1de;

 }

 .footer-bottom a{
     text-transform: uppercase;
     opacity: .6;
     font-weight: 400;
     color: #2892cf;
    text-decoration: none;

 }

 .footer-menu{
    float: right;
    height: 60px;
    position: relative;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color:#f4f1de;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #2892cf;
  }