/* H1 {
    color: #94d2bd;
    background-color: #005f73;
    margin: 0pt;
    text-shadow: 4px 4px 6px rgb(106, 102, 126);
    letter-spacing: 10px;
    font-variant-caps: all-small-caps;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif; 
    position: -webkit-sticky;
    position: sticky;
    top: 0px;       
}  */
h1{
    color: #f4f1de;
    background-color: #3d405b;
    text-shadow: 4px 4px 7px rgb(71, 66, 92);
    letter-spacing: 10px;
    font-family: 'Palanquin', sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 60px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-left: 20px;
    margin: 0pt;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;  
}

/* h1{
    /* font-variant-caps: all-small-caps; 
    /* text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight:100;
    font-size:40px;
    letter-spacing: 20px;
    text-decoration: underline wavy plum;
    
} */ 


.words{
    text-decoration: underline;
    font-weight: bold;
    
}

input [type=radio]:hover{
background-color: teal;
color: teal;
}

/* input[type="text"]  {
    border:2px solid rgb(255, 0, 0);
} */

div .box{
    background-color: #ca6702;
}

.square {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid black;
  }

  #board {
    display: flex;
    margin: 0 auto;
    width: 500px;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

 .square:nth-of-type(2n+1) {
    background-color: #ae2012;
  }

  .square:nth-of-type(2n) {
    background-color: black;
  }



/* remove the focus on the text boxes */
/* input.one:focus {
    outline-width: 0;
} */

button{
    background-color: #005f73;
    color: #94d2bd;
    font: bold 12pt Arial;
    margin: 10pt;
    margin-right: 0px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 5mm;
}
button:hover{
    background-color: #001219;
}

body{
    text-align: center;
    background-color: #f4f1de;
    margin: 0px;
    padding: 0px;
}

p{
    line-height: 2;
    font-size: 4mm;
}
#age{
    background-color: #ca6702;
}

/* #first{
    background-color: salmon;
} */


/* #labelfirst{
    color: seagreen;
} */

/* footer{
    background-color: #005f73;
    color: #94d2bd;
    position: absolute;
    margin: 0px;
    padding-left: 20px;
}

footer p::first-letter{
    color: tomato;
    font-weight: bold;
    font-size: 1cm;
}
.foot{
    text-align: left;

} */

footer{
    background-color: #3d405b;
    bottom: 0px;
    margin-bottom: 0px;
    margin: 0 auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

footer p{
    padding-left: 20px;
    color: #f4f1de;
}

.footer-menu{
    float: right;
    height: 60px;
    position: relative;
 }
 
 .footer-menu ul{
   display: flex;
 }
 
 .footer-menu ul li{
 padding-right: 10px;
 display: inline-block;
 }
 
 .footer-menu ul li a{
   color:#f4f1de;
   text-decoration: none;
 }
 
 .footer-menu ul li a:hover{
   color: #2892cf;
 }
.footer-bottom{
    background: #27293B;
    padding-bottom: 70px;
    margin-left: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.footer-bottom p{
    float: left;
    font-size: 13px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #f4f1de;

 }

 .footer-bottom a{
     text-transform: uppercase;
     opacity: .6;
     font-weight: 400;
     color: #2892cf;
    text-decoration: none;

 }
