body{
    background-color: rgb(247, 238, 220);
}

#cluster-map{
    width: 100%;
    height: 500px;
}

#map{
    width: 100%;
    height: 300px;
}

.card{
    background-color: rgba(245, 199, 140, 0.295);
}