<%- include("partials/head.ejs") %> 

<body>
    <%- include("partials/navBar.ejs") %> 

    <h1>The Home Page <%=5+5%></h1>

   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut consequatur natus repellat? Asperiores delectus reiciendis, maiores commodi esse atque. Facere, ullam voluptates omnis excepturi iusto vitae quis nam qui.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eaque et asperiores! Id quas, assumenda quos nobis iusto magni recusandae debitis reprehenderit deleniti non explicabo, iste eligendi accusamus consequuntur aut.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui atque repellendus accusantium odio? Doloribus sit ex itaque? Odit eveniet velit ipsum quam quas. Porro, quod placeat? Expedita, illum. Error, rerum.</p>

</body>
</html>